<ion-header>
  <ion-toolbar>
    <ion-title>vehiculos-lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list>
    <ion-list-header>
      Lista de contactos opciones
    </ion-list-header>


    <ion-item-sliding *ngFor="let vehiculo of vehiculos | async">
      <ion-item >
        <ion-avatar slot="start">
          <img src="./avatar-finn.png">
        </ion-avatar>
        <ion-label (click)="editarVehiculo(vehiculo)">
          <h2>{{vehiculo.placa}}</h2>
          <h3>{{vehiculo.marca}}</h3>
          <p>{{vehiculo.color}}</p>
        </ion-label>   
      </ion-item>
      <ion-item-options>
        <ion-item-option color="primary" (click)="editarVehiculo(vehiculo)">
          <ion-icon slot="start" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
          More
        </ion-item-option>
        <ion-item-option color="secondary" (click)="confirmarBorrado(vehiculo.uid)">
          <ion-icon slot="start" name="archive"></ion-icon>
          Archive
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>
