<ion-header>
  <ion-toolbar>
    <ion-title>vehiculos-crear</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <h3>Escribanos</h3>

  <ion-item>
    <ion-label position="floating">Placa</ion-label>
    <ion-input [(ngModel)]="vehiculo.placa"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Marca</ion-label>
    <ion-input [(ngModel)]="vehiculo.marca"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Color</ion-label>
    <ion-input [(ngModel)]="vehiculo.color"></ion-input>
  </ion-item>


  <ion-item>
    <ion-button color="dark" (click)="guardar()">Enviar</ion-button>
  </ion-item>
</ion-content>
