<ion-header>
  <ion-toolbar>
    <ion-title>lista-contactos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list>
    <ion-list-header>
      Lista de contactos opciones
    </ion-list-header>


    <ion-item-sliding *ngFor="let contacto of contactos | async">
      <ion-item >
        <ion-avatar slot="start">
          <img src="./avatar-finn.png">
        </ion-avatar>
        <ion-label (click)="editarContactoById(contacto.uid)">
          <h2>{{contacto.name}}</h2>
          <h3>{{contacto.email}}</h3>
          <p>{{contacto.message}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="primary" (click)="editarContacto(contacto)">
          <ion-icon slot="start" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
          More
        </ion-item-option>
        <ion-item-option color="secondary" (click)="confirmarBorrado(contacto.uid)">
          <ion-icon slot="start" name="archive"></ion-icon>
          Archive
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-list>
    <ion-list-header>
      Lista de contactos
    </ion-list-header>

    <ion-item *ngFor="let contacto of contactos | async" >
      <ion-avatar slot="start">
        <img src="./avatar-finn.png">
      </ion-avatar>
      <ion-label (click)="editarContactoById(contacto.uid)">
        <h2>{{contacto.name}}</h2>
        <h3>{{contacto.email}}</h3>
        <p>{{contacto.message}}</p>
      </ion-label>
    </ion-item>

    
  </ion-list>

  <app-take-photo [source]="'photo'"></app-take-photo>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="nuevoContacto()">
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
